<header class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto">
    
    <nav class="flex flex-row gap-x-20 opacity-80">
        <a class="hover:scale-110 transition" href="#top">Inicio</a>
        <a class="hover:scale-110 transition" href="#experiencie">Experiencia</a>
        <a class="hover:scale-110 transition" href="#language">Lenguajes</a>
    </nav>

</header>