<a 
    class={`
        flex flex-row justify-center items-center gap-x-6 
        py-1 px-2 md:py-2 md:px-4
        text-xs md:text-base 
        transition duration-500
        hover:scale-110 
       `} 
    {...Astro.props}
>
    <slot />
</a> 